<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="..\Dependencies\packages" />
  </config>

  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>

  <packageRestore>
    <!-- Allow NuGet to download missing packages -->
    <add key="enabled" value="True" />
    <!-- Automatically check for missing packages during build in Visual Studio -->
    <add key="automatic" value="False" />
  </packageRestore>

  <packageSources>
    <add key="NuGet official package source" value="https://nuget.org/api/v2/" />
  </packageSources>
</configuration>
